<section class="formulario-proveedor">
  <h2 class="titulo-seccion">Editar Proveedor</h2>
  <form id="form-editar-proveedor" class="formulario-box">

    <label for="cuit">CUIT:</label>
    <input type="text" name="cuit" id="cuit" value="20-01234567-8" required>

    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" id="nombre" value="Laura Díaz" required>

    <label for="rubro">Rubro:</label>
    <input type="text" name="rubro" id="rubro" value="Desinfección" required>

    <label for="observaciones">Observaciones:</label>
    <textarea name="observaciones" id="observaciones" rows="3">Limpieza profunda...</textarea>

    <div class="form-buttons">
      <button type="submit">GUARDAR CAMBIOS</button>
      <button type="button" onclick="loadComponent('app/components/proveedores.html', 'view-container')">CANCELAR</button>
    </div>

  </form>
</section>
