<section id="crear-novedad">
    <h2>GENERAR INCIDENCIA</h2>

    <label for="nivel">Nivel</label>
    <select id="nivel">
        <option>Elija un NIVEL</option>
        <option>Inicial</option>
        <option>Primaria</option>
        <option>Secundaria</option>
        <option>Técnica</option>
        <option>Artística</option>
        <option>Adultos</option>
        <option>Cens</option>
        <option>Secundaria Adultos</option>
        <option>Especial</option>
        <option>Superior</option>
    </select>

    <label for="Escuela">Escuela</label>
    <select id="Escuela">
        <option>Elija una Escuela</option>
        <option>Servicios</option>
        <option>0004MS0010</option>
        <option>0004PP0075</option>
        <option>0004MS0013</option>
        <option>0004PP0067</option>
        <option>0004PP0021</option>
        <option>0004PP0001</option>
        <option>0004JI0001</option>
        <option>0004MT0001</option>
    </select>

    <label for="grupo">Sección</label>
    <select id="grupo">
        <option>Elija una sección</option>
        <option>Servicios</option>
        <option>Intervenciones de infraestructura</option>
       
    </select>

    <label for="subgrupo">Especificar</label>
    <select id="subgrupo">
        <option>Elija un SUBGRUPO</option>
        <option>Artículos de limpieza</option>
        <option>Revisión, recarga, reposición de matafuegos</option>
        <option>Mantenimiento de sistema pluvial</option>
        <option>Revisión de cámara de inspección, cámara séptica</option>
        <option>Desagote de pozo</option>
        <option>Limpieza de tanque de agua, sistema</option>
        <option>Desmalezamiento, poda, mantenimiento áreas verdes</option>
        <option>Desinfección, desratización</option>
        <option>Reposición, abastecimiento de gas envasado</option>
        <option>Combustible para calefaccionamiento</option>
        <option>Provisión de agua potable</option>
        <option>Revisión del sistema contra incendios</option>

        <option>Intervenciones de infraestructura-GAS</option>
        <option>Intervenciones de infraestructura-ELECTRICIDAD</option>
        <option>Intervenciones de infraestructura-AGUA Y DESAGÜE</option>
        <option>Intervenciones de infraestructura-TECHOS</option>
        <option>Intervenciones de infraestructura-CIELORRASOS</option>
        <option>Intervenciones de infraestructura-PISOS</option>
        <option>Intervenciones de Infraestructura-MAMPOSTERÍA</option>
        <option>Intervenciones de infraestructura ABERTURAS</option>
        <option>Intervenciones de infraestructura-ACCESIBILIDAD</option>
        <option>Intervenciones de infraestructura-PERIMETRO</option>
    </select>

    <label for="area">Área/Dependencia</label>
    <select id="area">
        <option>Elija un Área/Dependencia</option>
        <option>Aula</option>
        <option>Cocina</option>
        <option>Patio</option>
        <option>Baño</option>
        <option>Dirección</option>
        <option>Otro</option>
    </select>


    <label for="fecha">Fecha Inicio: <span id="fecha"></span></label> <p> <span>09/06/2025</span></p>



    <div class="form-buttons">
        <button type="button">GUARDAR</button>
       
       
             
        <button type="button">VOLVER</button>
    </div>

  
</section>