<section id="modificar-novedad">
  <h2>MODIFICAR INCIDENCIA</h2>

  <label for="id-novedad-mod">ID de la novedad:</label>
  <input type="text" id="id-novedad-mod" value="000123" readonly />

    <label for="Escuela">Escuela</label>
  <select id="Escuela">
    <option>Elija una Escuela</option>
    <option>Servicios</option>
    <option>0004MS0010</option>
    <option>0004PP0075</option>
    <option>0004MS0013</option>
    <option>0004PP0067</option>
    <option>0004PP0021</option>
    <option>0004PP0001</option>
    <option>0004JI0001</option>
    <option>0004MT0001</option>
  </select>

  <label for="proveedor">Seleccione un proveedor:</label>
  <select id="proveedor">
    <option>Proveedor A</option>
    <option>Proveedor B</option>
    <option>Proveedor C</option>
  </select>

    
  <label for="cuit-mod">CUIT Proveedor:</label>
  <input type="text" id="cuit-mod" value="30-12345678-9" />


<label for="grupo-mod">Grupo</label>
  <select id="grupo-mod">
    <option>Elija un GRUPO</option>
    <option selected>Servicios</option>
    <option>Intervenciones de infraestructura-GAS</option>
    <option>Intervenciones de infraestructura - ELECTRICIDAD</option>
    <!-- más opciones -->
  </select>

  <label for="subgrupo-mod">SubGrupo</label>
  <select id="subgrupo-mod">
    <option>Elija un SUBGRUPO</option>
    <option selected>Artículos de limpieza</option>
    <option>Limpieza de tanque de agua</option>
    <!-- más opciones -->
  </select>



  <label for="comentario-mod">Comentarios:</label>
  <textarea id="comentario-mod">Fuga detectada en cañería principal</textarea>

  <div class="form-buttons">
    <button id="btn-guardar-modificar">GUARDAR</button>
    <button id="btn-cancelar-modificar">CANCELAR</button>
  </div>
</section>
